body {
    margin: auto;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

main {
    padding: 1rem;
    display: grid;
    gap: 1rem;
    padding: 1rem;
    grid-template-columns: minmax(0,1fr);
}

dt {
    font-weight: bold;
}

dd {
    margin: 1rem;
}

.svg_icon_about {
    height: 2.75rem;
    width: 2.75rem;
    background: var(--color);
    display: inline-block;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.svg_icon_about > svg {
    width: 1.5rem;
    height: 1.5rem;
    color: var(--background);
}