* {
    box-sizing: border-box;
    margin: 0;
}

body header {
    background: var(--color);
    margin: 0 calc(50% - 50vw);
    position: sticky;
    top: 0;
    z-index: 1;
}

body > header nav {
    margin: auto;
    max-width: 1280px;
    display: flex;
}

body > header svg {
    width: 1.5rem;
    height: 1.5rem;
}

body > header a,
body > header > nav > div {
    height: 2.75rem;
    width: 2.75rem;
    display: inline-block;
    align-items: center;
    display: flex;
    justify-content: center;
    color: var(--background);
    fill: var(--background);
}

body > header a:hover,
body > header a:not([href]),
body > header > nav > .svg_icon.active,
body > header > nav > .svg_icon:not(.disabled):hover {
    background: var(--background);
    color: var(--color);
    /* For elements that don't use currentColor: */
    fill: var(--color);
}

body > header > nav > .svg_icon.disabled {
    color: var(--disabled-color);
}

nav > :empty { flex: 1 }

.svg_icon_stroke {
    fill: none;
}

.svg_style_stroke2 {
    fill: none;
    stroke: currentColor;
    stroke-miterlimit: 10;
    stroke-width: 2px;
}

.svg_style_stroke3 {
    fill: none;
    stroke: currentColor;
    stroke-miterlimit: 10;
    stroke-width: 3px;
}

.svg_style_fill {
    fill: currentColor;
}

#slider_container {
    width: 130px;
}

.slider {
    -webkit-appearance: none;
    width: 100px;
    opacity: 0.8;
    transition: opacity .2s;
    height: 1px;
    outline: none; /* don't put a weird outline on it when using it in Chrome. */
}

.slider:hover {
    opacity: 1.0;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: var(--background);
    width: 10px;
    height: 1.5rem;
}

.slider::-moz-range-thumb {
    width: 10px;
    height: 1.5rem;
    background: var(--background);
    border-radius: 0;
    border: none;
}
