#sourcecode {
    width: 500px;
    height: 100px;
}

#output, #input {
    width: 500px;
    height: 100px;
}

#memory {
    width: 500px;
    height: 100px;
}

#puzzle_container {
    position: relative;
    background-color: lightgray;
    margin: 1rem;
    max-width: 1000px;
    max-height: 1000px;
    overflow: hidden;
}

#memory_container {
    border: black;
    border-style: solid;
    border-width: 2px;
    width: 300px;
    height: 300px;
    overflow: hidden;
}

.cell_input {
    position: absolute;
    font-size: 20px;
    margin-top: -13px;
    text-align: center;
    outline: none;
    width: 28px;
    margin-left: -14px;
    padding: 0;
    border-width: 0;
    background: none;
    font-family: monospace;
}

.cell_text {
    fill: black;
    stroke: none;
    font-size: 20px;
    font-family: monospace;
}

.noop {
    fill: #808080;
}

.puzzle {
    position: absolute;
    left:0px;
    top:0px;
}

#input_container {
    position: absolute;
    left:0px;
    top:0px;
}

body {
    background: #fff;
    padding: 20px;
    font-family: Helvetica;
}

#app {
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    transition: all 0.2s;
    display: flex;
    justify-content: center;
}

.cell {
    fill: white;
    stroke: #808080;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
    transition-duration: 0.25s;
}

.outline {
    fill: none;
    stroke: black;
    stroke-width: 1.5;
    stroke-miterlimit: 10;
}

.cell_breakpoint {
    fill: lightcoral;
}

.cell_active {
    fill: cyan;
}

.button_container {
    margin: 1em;
}

.connector {
    fill: none;
    stroke: #F7941D;
    stroke-width: 1.0;
    stroke-miterlimit: 10;
}

@keyframes connector_flash {
    to {stroke: cyan; stroke-width: 5;}
}

.connector_flash {
    animation: connector_flash 0.5s linear 0s 2 alternate;
}

.positive_connector {
    stroke: #ed1c24;
}

.negative_connector {
    stroke: #1c74bc;
}

.positive_text {
    fill: #ed1c24;
    stroke: none;
    font-size: 20px;
    /* font-weight: bold; */
}

.negative_text {
    fill: #1c74bc;
    stroke: none;
    font-size: 20px;
    /* font-weight: bold; */
}

.memory_cell {
    fill: none;
    stroke: rgb(80, 80, 80);
    stroke-width: 0.5;
    stroke-miterlimit: 10;
}

.memory_pointer {
    fill: #ed1c24;
    stroke: none;
}

.memory_value {
    stroke: black;
    stroke-width: 1.0;
}

.memory_text {
    font-size: 12px;
}

#memory_svg {
    /* position: absolute; */
    /* left:0px; */
    /* top:0px; */
}
