:root {
    --background: #fdfdfd;
    --color:      #343a40;
    --disabled-color: #707070;
    --red: #ed1c24;
    --blue: #1c74bc;
    --orange: #F7941D;
    --hexagon-stroke: #808080;
    --set-memory: black;
    --panel-background: hsl(0, 0%, 95%);
    --output-background: hsl(0, 0%, 83%)
}

/* Things that affect animation duration. */
@keyframes connector_flash {
    to {stroke: cyan; stroke-width: 5;}
}

.connector_flash {
    animation: connector_flash 0.425s ease-out 0s 2 alternate;
}

.cell {
    fill: white;
    stroke: var(--hexagon-stroke);
    stroke-width: 0.5;
    stroke-miterlimit: 10;
    transition-duration: 0.25s;
    transition-timing-function: ease-out;
}

#puzzle_parent {
    transition-duration: 0.85s;
    transition-timing-function: ease-in-out;
}

/* Other things */

.pre {
    white-space: pre;
    font-family: monospace;
}

.pre:after {
    /* Allows user to see a trailing line break. */
    content: '';
}

#sourcecode {
    width: 100%;
    height: 100px;
}

#url_export {
    width: 100%;
}

#input {
    width: 100%;
    height: 100px;
    min-height: 100px;
}

#output {
    background-color: var(--output-background);
    width: 100%;
    min-height: 1em;
    max-height: 300px;
    padding: 0.5em;
    overflow: auto;
}

#memory {
    width: 500px;
    height: 100px;
}

#puzzle_centering {
    display: flex;
    justify-content: center;
}

#puzzle_container {
    position: relative;
    margin: 2rem;
    overflow: hidden;
    background-color: var(--panel-background);
}

#memory_container {
    border: black;
    border-style: solid;
    border-width: 2px;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.cell_input {
    position: absolute;
    font-size: 20px;
    margin-top: -13px;
    text-align: center;
    outline: none;
    width: 28px;
    margin-left: -14px;
    padding: 0;
    border-width: 0;
    background: none;
    font-family: monospace;
}

.cell_text {
    fill: black;
    stroke: none;
    font-size: 20px;
    font-family: monospace;
}

.noop {
    fill: var(--hexagon-stroke);
}

.puzzle {
    position: absolute;
    left:0px;
    top:0px;
}

#input_container {
    position: absolute;
    left:0px;
    top:0px;
}

body {
    background: #fff;
    font: 16px emoji,system-ui,-apple-system,sans-serif;
    /* font-family: Helvetica; */
}

#app {
    background: #fff;
    border-radius: 4px;
    transition: all 0.2s;
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 100%;
    margin: 0 1rem;
}

.outline {
    fill: none;
    stroke: black;
    stroke-width: 1.5;
    stroke-miterlimit: 10;
}

.cell_executed {
    fill: hsl(180, 100%, 95%);
}

/* See EXECUTED_COLOR_COUNT */
.cell_executed5 {
    fill: hsl(180, 100%, 90%);
}

.cell_executed4 {
    fill: hsl(180, 100%, 85%);
}

.cell_executed3 {
    fill: hsl(180, 100%, 80%);
}

.cell_executed2 {
    fill: hsl(180, 100%, 75%);
}

.cell_executed1 {
    fill: hsl(180, 100%, 70%);
}

.cell_active {
    fill: rgb(0, 255, 255);
}

.cell_breakpoint {
    fill: hsl(0, 79%, 80%);
}

.cell_terminated {
    fill: var(--red);
}

.button_container {
    margin: 1em;
}

.connector {
    fill: none;
    stroke: var(--orange);
    stroke-width: 1.0;
    stroke-miterlimit: 10;
}

.positive_connector {
    stroke: var(--red);
}

.negative_connector {
    stroke: var(--blue);
}

.positive_text {
    fill: var(--red);
    stroke: none;
    font-size: 20px;
    /* font-weight: bold; */
}

.negative_text {
    fill: var(--blue);
    stroke: none;
    font-size: 20px;
    /* font-weight: bold; */
}

.memory_cell {
    fill: none;
    stroke: var(--hexagon-stroke);
    stroke-width: 0.5;
    stroke-miterlimit: 10;
}

.memory_pointer {
    fill: var(--red);
    stroke: none;
}

.memory_value {
    stroke: var(--set-memory);
    stroke-width: 1.0;
}

.memory_text {
    font-size: 12px;
}

/* #memory_svg {
    position: absolute;
    left:0px;
    top:0px;
} */

#grid_container {
    display: grid;
    grid-gap: 1rem;
    justify-content: center;
}

.edit_grid {
    grid-template-columns: repeat(2, 1fr);
}

.play_grid {
    grid-template-columns: repeat(auto-fill, 600px);
}

#grid_container>* {
    min-height: 100px;
}

.hidden_section {
    display: none;
}

#grid_container > div {
    background: var(--panel-background);
    padding: 0.5rem;
}

.edit_button {
    margin: 0.5rem 0.5rem 0.5rem 0;
}

.radio label {
    margin-right: 0.5rem;
}

.radio label input {
    margin: 8px 4px 8px 0px;
}

td {
    padding: 0 0.5rem;
}

#termination_reason {
    font-weight: bold;
    color: var(--red);
}
