@use 'root.scss';

// Specificity should be at least (1, 1, 1).
div #codePanel.appPanel {
    position: relative;
    grid-area: codePanel;
    // This number is a bit arbitrary. It prevents the layout from changing too much when switching
    // from edit to play mode.
    min-height: 585px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

#codePanelHeader {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    background: var(--panel-overlay-background);
    display: flex;
    padding: 0.5rem;
}

#resetCodeViewButton {
    margin: 0.5rem;
}

@media (max-width: root.$singleColumnWidth) {
    #codePanel {
        // Use the height of the content.
        min-height: 0px;
    }
}
