@use 'root.scss';

// Specificity should be at least (1, 1, 1).
div #memoryPanel.appPanel {
    position: relative;
    grid-area: memoryPanel;
    padding: 0;
    display: grid;
}

#memoryPanelHeader {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    background: var(--panel-overlay-background);
    display: flex;
    padding: 0.5rem;
}

.memoryCell {
    fill: none;
    stroke: var(--hexagon-stroke);
    stroke-width: 0.5;
}

#memoryPointer {
    fill: var(--red);
    stroke: none;
    transition: transform .25s ease-out;
}

.memoryValue {
    fill: none;
    stroke: var(--set-memory);
    stroke-width: 1.0;
}

#resetViewButton {
    margin: 0.5rem;
}

@media (max-width: root.$singleColumnWidth) {
    #memoryPanel {
        min-height: 400px;
    }
}
