@use 'sass:color';
@use 'root.scss';

.cell {
    fill: white;
    stroke: var(--hexagon-stroke);
    stroke-width: 0.5;
    stroke-miterlimit: 10;
    transition-timing-function: ease-out;
}

.cell_input {
    position: absolute;
    font-size: 20px;
    margin-top: -13px;
    text-align: center;
    outline: none;
    width: 28px;
    margin-left: -14px;
    padding: 0;
    border-width: 0;
    background: none;
    font-family: root.$monospace;
}

.cell_text {
    fill: black;
    stroke: none;
    font-size: 20px;
    font-family: root.$monospace;
}

.noop {
    fill: var(--hexagon-stroke);
}

.outline {
    fill: none;
    stroke: black;
    stroke-width: 1.5;
    stroke-miterlimit: 10;
}

.outline_secondary {
    stroke-width: 0.75;
}

.cell_breakpoint {
    fill: none;
    stroke: var(--red);
    stroke-width: 1.5;
    stroke-miterlimit: 10;
}

.arrow_template {
    animation: fade_in ease-out;
    stroke: none;
    fill: rgba(0, 0, 0, 0);
    transition-property: fill;
}

$arrow_lightness_shift1: 0.2;
$executed_lightness: 0.95;

$arrowLightnessShift: -50%;
$executeLightnessShift: 90%;
$secondaryLightnessShift: 75%;

@function scaleLightness($color, $amount) {
    // Example:
    // color.scale(hsl(0, 100%, 70%), $lightness: 50%) == hsl(0, 100%, 85%)
    @return color.scale($color, $lightness: $amount);
}

@function makeSecondaryColor($color) {
    @return scaleLightness($color, $secondaryLightnessShift);
}

@function makeArrowColor($color) {
    @return scaleLightness($color, $arrowLightnessShift);
}

$executedColors: 10;
$executedMinLightness: 66%;
$executedMaxLightness: 88%;
$executedLightnessIncrement: ($executedMaxLightness - $executedMinLightness) / ($executedColors - 1);

$colors:
    hsl(200, 100%, 50%)
    hsl(270, 100%, 70%)
    hsl(0, 100%, 70%)
    hsl(30, 100%, 50%)
    hsl(60, 90%, 50%)
    hsl(140, 80%, 50%)
;

@for $j from 5 through 0 {
    $color: nth($colors, $j + 1);
    $executedColor: scaleLightness($color, $executeLightnessShift);

    .color_swatch_#{$j} {
        display: inline-block;
        margin: 0 0.5rem;
        border: 1px solid var(--color);
        background: $color;
        width: 0.8rem;
        height: 0.8rem;
    }

    .arrow_executed_#{$j} {
        fill: makeArrowColor($executedColor);
    }

    .cell_executed_#{$j} {
        fill: $executedColor;
    }

    .cell_executed_#{$j}.secondary {
        fill: makeSecondaryColor($executedColor);
    }

    @for $i from $executedColors - 1 through 0 {
        $value: $executedMinLightness + $i * $executedLightnessIncrement;
        $currentColor: scaleLightness($color, $value);
        @debug $j $i $value color.hue($currentColor) color.saturation($currentColor) color.lightness($currentColor) color.blackness($currentColor);

        .arrow_executed_#{$j}_#{$i} {
            fill: makeArrowColor($currentColor);
        }

        .cell_executed_#{$j}_#{$i} {
            fill: $currentColor;
        }

        .cell_executed_#{$j}_#{$i}.secondary {
            fill: makeSecondaryColor($currentColor);
        }
    }
}

// The active/inactive colors are generated in a separate loop so they always have higher priority.
@for $j from 5 through 0 {
    $color: nth($colors, $j + 1);
    $inactiveColor: scaleLightness($color, $executedMinLightness);

    .arrow_inactive_#{$j} {
        fill: makeArrowColor($inactiveColor);
    }

    .cell_inactive_#{$j} {
        fill: $inactiveColor;
    }

    .arrow_active_#{$j} {
        fill: makeArrowColor($color);
    }

    .cell_active_#{$j} {
        fill: $color;
    }

    .cell_active_#{$j}.secondary {
        fill: makeSecondaryColor($color);
    }
}

.connector {
    fill: none;
    stroke: var(--orange);
    stroke-width: 1.0;
    stroke-miterlimit: 10;
}

.positive_connector {
    stroke: var(--red);
}

.negative_connector {
    stroke: var(--blue);
}

.positive_text {
    fill: var(--red);
    stroke: none;
    font-size: 20px;
}

.negative_text {
    fill: var(--blue);
    stroke: none;
    font-size: 20px;
}

@keyframes connector_flash {
    to {
        stroke-width: 6;
    }
}

@keyframes connector_flash_secondary {
    to {
        stroke-width: 4;
    }
}

.connector_flash {
    animation: connector_flash 0.5s ease-out 0s 2 alternate;
}

.connector_neutral_flash {
    stroke: var(--orange);
    animation: connector_flash 0.5s ease-out 0s 2 alternate;
}

.connector_flash_secondary {
    animation: connector_flash_secondary 0.5s ease-out 0s 2 alternate;
}

.connector_neutral_flash_secondary {
    stroke: var(--orange);
    animation: connector_flash_secondary 0.5s ease-out 0s 2 alternate;
}

.active_ip {
    font-weight: bold;
}
