body {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body main {
    max-width: 1280px;
}

body header {
    width: 100%;
}

main {
    display: grid;
    gap: 1rem;
    padding: 1rem;
    grid-template-columns: minmax(0,1fr);
}

dt {
    font-weight: bold;
}

dd {
    margin: 1rem;
}

main.center {
    justify-items: center;
}
