body {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-color);
}

body main {
    max-width: 1280px;

    a {
        color: var(--link-color);
    }

    a:visited {
        color: var(--visited-link-color);
    }

    a:active {
        color: var(--active-link-color);
    }
}

body header {
    width: 100%;
}

main {
    display: grid;
    gap: 1rem;
    padding: 1rem;
    grid-template-columns: minmax(0,1fr);
}

dt {
    font-weight: bold;
}

dd {
    margin: 1rem;
}

main.center {
    justify-items: center;
}
