@use 'root.scss';

.pre {
    white-space: pre;
    font-family: root.$monospace;
}

.pre:after {
    /* Allows user to see a trailing line break. */
    content: '';
}

#puzzle_container {
    position: relative;
}

.puzzle {
    position: absolute;
    left:0px;
    top:0px;
}

#appGrid {
    background: var(--background);
    display: grid;
    justify-content: center;
    grid-gap: 1rem;
    margin: 1rem;
    grid-template-columns: 2fr 1fr;
}

.editGrid {
    grid-template-areas:
        "codePanel inputPanel"
        "codePanel importPanel"
        "hotkeysPanel infoPanel";
}

.playGrid {
    grid-template-areas:
        "codePanel inputPanel"
        "codePanel outputPanel"
        "memoryPanel statePanel";
}

@media (max-width: 640px) {
    #appGrid {
        grid-template-columns: 1fr;
    }

    .editGrid {
        grid-template-areas:
            "codePanel"
            "inputPanel"
            "infoPanel"
            "importPanel"
            "hotkeysPanel";
    }

    .playGrid {
        grid-template-areas:
            "codePanel"
            "outputPanel"
            "memoryPanel"
            "statePanel"
            "inputPanel";
    }
}

.hidden {
    display: none;
}

#appGrid > div {
    background: var(--panel-background);
    padding: 0.5rem;
    min-height: 300px;
    /* overflow must be hidden in all panels to prevent horizontal scroll bars in the narrow layout. */
    overflow: hidden;
}

#appGrid > div.hiddenSection {
    display: none;
}

.button_container {
    margin: 1em;
}

#codePanel {
    grid-area: codePanel;
    display: flex;
    justify-content: center;
    align-items: center;
}

#inputPanel {
    grid-area: inputPanel;
    display: inline-grid;
    grid-template-rows: auto auto 1fr;
}

div #outputPanel {
    grid-area: outputPanel;
    min-height: 353px;
}

#outputContainer {
    height: 300px;
}

#outputBox {
    background-color: var(--output-background);
    min-height: 1em;
    max-height: 300px;
    padding: 0.5em;
    overflow: auto;
}

div #importPanel {
    grid-area: importPanel;
    display: grid;
    grid-template-rows: auto auto 1fr;
    min-height: 353px;
}

textarea {
    resize: vertical;
}

#statePanel {
    grid-area: statePanel;
}

#memoryPanel {
    grid-area: memoryPanel;
}

#infoPanel {
    grid-area: infoPanel;
}

#hotkeysPanel {
    grid-area: hotkeysPanel;
}

.editButton {
    margin: 0.5rem 0.5rem 0.5rem 0;
}

#resetViewButton {
    margin: 0.5rem 0.3rem 0.5rem 0;
}

.radio label {
    margin-right: 0.5rem;
}

.radio label input {
    margin: 8px 4px 8px 0px;
}

@keyframes fade_in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#terminationReasonText {
    animation: fade_in 0.25s ease-out;
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0.25rem 0;
    color: var(--red);
}

#infoInfo, #stateInfo, #hotkeysGrid {
    display: inline-grid;
    column-gap: 1rem;
}

.col1 {
    grid-column: 1;
}

.col2 {
    grid-column: 2;
}

.col3 {
    grid-column: 3;
}

.col4 {
    grid-column: 4;
}

.col5 {
    grid-column: 5;
}

.right {
    justify-self: right;
}
