:root {
    --background: #fdfdfd;
    --color:      #343a40;
    --disabled-color: #707070;
    --red: #ed1c24;
    --blue: #1c74bc;
    --orange: #F7941D;
    --hexagon-stroke: #808080;
    --set-memory: black;
    --panel-background: hsl(0, 0%, 95%);
    --output-background: hsl(0, 0%, 83%);
}

body {
    background: var(--background);
    font: 16px emoji,system-ui,-apple-system,sans-serif;
}

#puzzle_parent {
    transition-duration: 0.85s;
    transition-timing-function: ease-in-out;
}

.pre {
    white-space: pre;
    font-family: monospace;
}

.pre:after {
    /* Allows user to see a trailing line break. */
    content: '';
}

#sourcecode {
    width: 100%;
    height: 120px;
}

#input {
    width: 100%;
    height: 100px;
    min-height: 100px;
}

#output_container {
    height: 300px;
}

#output {
    background-color: var(--output-background);
    width: 100%;
    min-height: 1em;
    max-height: 300px;
    padding: 0.5em;
    overflow: auto;
}

#memory {
    width: 500px;
    height: 100px;
}

#puzzle_container {
    position: relative;
    /* overflow: hidden; */
}

#memory_container {
    border: black;
    resize: vertical;
    border-style: solid;
    border-width: 2px;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.puzzle {
    position: absolute;
    left:0px;
    top:0px;
}

#input_container {
    position: absolute;
    left:0px;
    top:0px;
}

#app_grid {
    background: #fff;
    transition: all 0.2s;
    display: grid;
    justify-content: center;
    grid-gap: 1rem;
    margin: 1rem;
    grid-template-columns: 2fr 1fr;
}

.edit_grid {
    grid-template-areas:
        "code input"
        "code import"
        "hotkeys info";
}

.play_grid {
    grid-template-areas:
        "code input"
        "code output"
        "memory state";
}

@media (max-width: 640px) {
    #app_grid {
        grid-template-columns: 1fr;
    }

    .edit_grid {
        grid-template-areas:
            "code"
            "input"
            "info"
            "import"
            "hotkeys";
    }
    
    .play_grid {
        grid-template-areas:
            "code"
            "output"
            "memory"
            "state"
            "input";
    }
}

#app_grid > div {
    overflow: hidden;
    background: var(--panel-background);
    padding: 0.5rem;
    min-height: 300px;
}

.button_container {
    margin: 1em;
}

.memory_cell {
    fill: none;
    stroke: var(--hexagon-stroke);
    stroke-width: 0.5;
    stroke-miterlimit: 10;
}

.memory_pointer {
    fill: var(--red);
    stroke: none;
}

.memory_value {
    stroke: var(--set-memory);
    stroke-width: 1.0;
}

.memory_text {
    font-size: 12px;
}

#code_panel {
    grid-area: code;
    display: flex;
    justify-content: center;
    align-items: center;
}

#input_panel {
    grid-area: input;
}

#output_panel {
    grid-area: output;
}

#import_panel {
    grid-area: import;

textarea {
    resize: vertical;
}

#state_panel {
    grid-area: state;
}

#memory_panel {
    grid-area: memory;
    overflow: hidden;
}

#info_panel {
    grid-area: info;
}

#hotkeys_panel {
    grid-area: hotkeys;
}

.hidden_section {
    display: none;
}

.edit_button {
    margin: 0.5rem 0.5rem 0.5rem 0;
}

.radio label {
    margin-right: 0.5rem;
}

.radio label input {
    margin: 8px 4px 8px 0px;
}

#termination_reason {
    font-weight: bold;
    color: var(--red);
}

#info_info, #state_info, #hotkeys_grid {
    display: inline-grid;
    column-gap: 1rem;
}

.col1 {
    grid-column: 1;
}

.col2 {
    grid-column: 2;
}

.col3 {
    grid-column: 3;
}

.col4 {
    grid-column: 4;
}

.col5 {
    grid-column: 5;
}

.right {
    justify-self: right;
}
