$monospace: Consolas, Menlo, monospace;

:root {
    --background: #fdfdfd;
    --color:      #343a40;
    --disabled-color: #707070;
    --red: #ed1c24;
    --blue: #1c74bc;
    --orange: #F7941D;
    --panel-background: hsl(0, 0%, 95%);
    --output-background: hsl(0, 0%, 83%);
    --hexagon-stroke: hsl(0, 0%, 50%);
    --foreground-color: black;
    --set-memory: var(--foreground-color);
    --outline-color:var(--foreground-color);
    --text-color: var(--foreground-color);
    --hexagon-fill: white;
}

body {
    background: var(--background);
    font: 16px emoji,system-ui,-apple-system,sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
}
