$monospace: Consolas, Menlo, monospace;

:root {
    --color: rgb(53, 59, 65);
    --background: hsl(0, 0%, 99%);
    --panel-background: hsl(0, 0%, 95%);
    --output-background: hsl(0, 0%, 83%);
    --button: hsl(0, 0%, 83%);
    --hover-button: hsl(0, 0%, 90%);
    --active-button: hsl(0, 0%, 99%);
    --hexagon-stroke: hsl(0, 0%, 50%);
    --hexagon-fill: white;
    --disabled-color: hsl(0, 0%, 44%);
    --red: hsl(358, 85%, 52%);
    --blue: hsl(207, 74%, 42%);
    --orange: hsl(33, 93%, 54%);
    --foreground-color: black;
    --set-memory: var(--foreground-color);
    --outline-color:var(--foreground-color);
    --text-color: var(--foreground-color);
    --link-color: hsl(240, 97%, 45%);
    --visited-link-color: hsl(271, 68%, 32%);
    --active-link-color: hsl(0, 100%, 47%);
}

:root.darkMode {
    --color: #fdfdfd;
    --background: hsl(210, 10%, 13%);
    --panel-background: hsl(210, 10%, 23%);
    --output-background: var(--background);
    --button: hsl(0, 0%, 30%);
    --hover-button: hsl(0, 0%, 20%);
    --active-button: hsl(0, 0%, 10%);
    --hexagon-stroke: hsl(0, 0%, 50%);
    --hexagon-fill: hsl(210, 10%, 10%);
    --disabled-color: hsl(0, 0%, 44%);
    --red: hsl(358, 85%, 60%);
    --blue: hsl(207, 74%, 60%);
    --orange: hsl(33, 93%, 60%);
    --foreground-color: hsl(0, 0%, 99%);
    --set-memory: var(--foreground-color);
    --outline-color:var(--foreground-color);
    --text-color: var(--foreground-color);
    --link-color: hsl(200, 100%, 60%);
    --visited-link-color: hsl(270, 100%, 70%);
    --active-link-color: hsl(0, 100%, 60%);
}

header {
    --color: rgb(53, 59, 65);
    --background: hsl(0, 0%, 99%);
}

body {
    background: var(--background);
    font: 16px emoji,system-ui,-apple-system,sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
}
